<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:lightgrey;">
    <div class="navbar navbar-inverse navbar-fixed-top headerStyle">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GYM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand menuStyle1 menuStyle" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li class="menuStyle1">@Html.ActionLink("Logout", "Logout", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" >
        <div>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .headerStyle {
        background-color: #0a3a63 !important;
        border-color: #0a3a63 !important;
    }
    .menuStyle1 :hover {
        background-color: ghostwhite;
    }
    .menuStyle1 {
        color:white !important;
    }
</style>
